@@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

html, body, ul, li，form, input, h2 ,h1{
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F5F5F5;
}

.top {
  width: 100%;
  height: 27px;
  background: url(../images/top_bg.jpg) repeat-x;
}

.top_content {
  width: 1000px;
  margin: 0 auto;
}

/*对top_content下的li标签设置样式*/

.top_content li {
  list-style-image: url(../images/li_bg.gif);
  float: right;
  width: 70px;
  line-height: 27px;
  font-size: 12px;
}

/*对top_content下的超链接初始状态和访问后的状态设置样式*/

.top_content a:link, .top_content a:visited {
  color: #8e8e8e;
  text-decoration: none;
  /*去掉下划线*/
}

/*设置鼠标经过a标签时a标签的状态*/

.top_content a:hover, .top_content a:active {
  color: red;
  text-decoration: none;
  /*去掉下划线*/
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  height: 80px;
  background-color: #fff;
}

.logo_left {
  width: 200px;
  float: left;
}

.logo_left img {
  vertical-align: bottom;
}

.logo_right {
  width: 300px;
  float: right;
  line-height: 80px;
  color: #8e8e8e;
}

.logo_right img {
  vertical-align: middle;
  margin-right: 10px;
}

.tel {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #C00;
}

.nav {
  height: 40px;
  margin: 0 auto;
  clear: both;
}

.nav_left, .nav_middle, .nav_right {
  height: 40px;
  float: left;
}

.nav_left {
  width: 10px;
  background: url(../images/nav_left.jpg) no-repeat;
}

.nav_middle {
  width: 980px;
  background: url(../images/nav_bg.jpg) repeat-x;
}

.nav_right {
  width: 10px;
  background: url(../images/nav_right.jpg) no-repeat;
}

.nav_middle_left, .nav_middle_right {
  float: left;
}

.nav_middle_left {
  width: 680px;
}

.nav_middle_right {
  width: 300px;
}

.nav_middle_left li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 40px;
  list-style-type: none;
}

.nav_middle_left a:link, .nav_middle_left a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "微软雅黑"
}

.nav_middle_left a:hover, .nav_middle_left a:active {
  text-decoration: none;
  color: #ff0;
  font-size: 16px;
  font-family: "微软雅黑"
}

.search_text {
  width: 190px;
  height: 25px;
  margin-top: 5px;
  /* background: url(../images/search.jpg) no-repeat right center; */
  background-image: url(../images/search.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  padding-right: 25px;
  border: 1px solid #fff;
}

.ad {
  height: 310px;
  width: 1000px;
  overflow: hidden;
  /*当你溢出这个div之后就隐藏*/
}

.main {
  height: 250px;
  background-color: #fff;
  margin-top: 5px;
}

.news, .course, .sidebar {
  height: 250px;
  float: left;
}

.news {
  width: 340px;
  border: 1px solid #e8e8e8;
}

.course {
  width: 410px;
  margin-left: 7px;
  margin-right: 7px;
  border: 1px solid #e8e8e8;
}

.sidebar {
  width: 230px;
}

.title {
  height: 35px;
  border: 2px solid #e8e8e8;
}

.title_left {
  width: 70%;
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: bold;
  color: #786F66;
  float: left;
  line-height: 35px;
  padding-left: 20px;
}

.title_right {
  width: 20%;
  float: right;
  line-height: 35px;
  text-align: right;
  padding-right: 10px;
}

.title_right a {
  text-decoration: none;
  color: #999999;
}

.pic_news {
  height: 80px;
  margin-top: 10px;
  line-height: 20px;
}

.pic_news img,.course_pic img {
  float: left;
  margin: 0 5px;
}

.pic_news a ,.course_pic a{
  text-decoration: none;
  color: #c00;
}

.news_list {
  margin-top: 20px;
}

.news_list li {
  list-style-type: none;
  background: url(../images/list.jpg) no-repeat;
  padding-left: 10px;
  font-size: 12px;
  margin: 8px;
  border-bottom: 1px dotted #ccc;
}

.news_list a:link, .news_list a:visited {
  text-decoration: none;
  color: #000;
}

.news_list a:hover, .news_list a:active {
  text-decoration: none;
  color: #f00;
}

.news_list span {
  color: #999;
  float: right;
}

.course_pic {
  height: 120px;
  margin-top: 10px;
  line-height: 20px;
}

.course_type{
  height: 37px;
  width: 372px;
  background: url(../images/product_type_bg.jpg) no-repeat;
  margin: 20px auto;
}

.course_type li{
  list-style-type: none;
  float: left;
  line-height: 37px;
  margin: 0 15px;
  text-align: center;
}

.video{
  height: 185px;
  border: 1px solid #e8e8e8;
}

.video_content{
  height: 150px;
}

.sidebar_ad{
  height: 55px;
  border: 1px solid #e8e8e8;
  margin-top: 5px;
}

.copyright{
  width: 100%;
  height: 200px;
  background-color: #e8e8e8;
  margin-top: 10px;
  clear: both;
}

.copyright_content{
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.copyright_content li{
  list-style-type: none;
  float: left;
  width: 200px;
  background: url(../images/line.png) no-repeat right center;
  text-align: center;
  line-height: 30px;
  font-family: "微软雅黑"
}

.copyright_content a{
  text-decoration: none;
  color: #999;
  font-size: 18px;
}

.copyright_content li ul li a{
  font-size: 14px;
}


/* list.html样式 */
.list_main{
  height: 350px;
  _height:350px;
  min-height: 350px;
  margin-top: 10px;
}

.news_type{
  width: 220px;
  height: 350px;
  border:1px solid #e8e8e8;
  float: left;
  background-color: #fff;
}

.news_type h2{
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-family: "微软雅黑";
  padding-left: 20px;
  color:#666;
  background: url(../images/titile_bg.gif) repeat-x;
}

.news_type_content{
  height:265px;
  background: url(../images/content_bg.gif) repeat-x;
}

.news_type_content li{
  list-style-type: none;
  height:34px;
  line-height: 34px;
}

.news_type_content li a{
  color: #666;
  text-decoration: none;
  background: url(../images/li_bg.gif) no-repeat left center;
  padding-left: 15px;
  display: block;
}

.news_type_content li a:hover{
  color:#009cdf;
  background: url(../images/li_bg2.gif) no-repeat left center;
  background-color: #f2f2f2;
}

.list_box{
  width: 770px;
  min-height: 350px;
  _height:350px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  float:right;
}

.list_box h2{
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  height:35px;
  line-height: 35px;
  background: url(../images/type_bg.png) repeat-x;
  padding-left: 20px;
}

.page{
  height:40px;
  text-align: center;
}

.page a{
  display: inline-block;
  border: 1px solid #e8e8e8;
  text-decoration: none;
  padding: 5px 10px;
}

.page a:link,.page a:visited{
  color: #000;
}

.page a:hover,.page a:active{
  color: #fff;
  background-color: #cc1b1b;
}


/* news.html样式 */
.list_box h1{
  font-family: "微软雅黑";
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.list_box_newsInfo{
  color:#666;
  text-align: center;
  border-bottom: 1px dotted #666;
}

.list_box_newsContent{
  font-size: 14px;
  padding: 20px;
  line-height: 25px;
  text-indent: 2em;  /*设置段落缩进*/
}
